node_modules/
dist/
.DS_Store
.vscode/
.idea/
*.log
.env
hennge-challenge/challenge
hennge-challenge/hennge-admission-challenge-rules.html
hennge-challenge/frontend_password_validation_v1_challenge.tar.gz